/*Temporary image placeholder, will be replaced with an image later on*/
.image-placeholder {
    background-color: #eee;
    display: flex;
    height: 180px;
    margin: 5px;
    width: 460px;
}

.image-placeholder > h4 {
    align-self: center;
    text-align: center;
    width: 100%;
}

.image-placeholder-info {
    width: 100px;
    height: 100px;
    border-radius: 15px;
    border: 3px solid #3882f6;
}